@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@theme {
  --color-primary: var(--primary);
  --color-second: var(--second);
  --color-first-background: var(--first-background);
  --color-second-background: var(--second-background);
  --color-first-text: var(--first-text);
  --font-roboto: "Roboto", sans-serif;
}

:root {
  --primary: #D97706;
  --second: #374151;
  --first-background: #F4F4F4;
  --second-background: #FFF;
  --first-text: #374151;
}

.dark {
  --primary: #ff8800;
  --second: #F4F4F4;
  --first-background: #374151;
  --second-background: #0a0a0a5e;
  --first-text: #374151;
}



body {
  font-family: var(--font-roboto);
  background-color: var(--background);
  margin: 0;
}